<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Basic example">
    <!-- This button will move down throught months -->
    <button type="button" class="btn btn-light" (click)="moveDate(-1)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
    </button>
    <!-- This button will open a modal to select month and year quickly-->
    <button type="button" class="btn btn-light">{{calendarDate}}</button>
    <!-- This button will move up throught months -->
    <button type="button" class="btn btn-light" (click)="moveDate(1)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Domingo</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sqArray of calendarSq">
            <td *ngFor="let sq of sqArray">
                <div *ngIf="sq.active === 0">
                    <button type="button" class="btn btn-light btn-lg" (click)="dateInput(sq.index)">
                        {{sq.index}}
                    </button>
                </div>
                <div *ngIf="sq.active === 1">
                    <button type="button" class="btn btn-primary btn-lg" (click)="dateInput(sq.index)">
                        {{sq.index}}
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p>Ganancias: {{monthResume.gains}}</p>
<p>Ropas negocio: {{monthResume.type1Clothes}}</p>
<p>Ropas hogar: {{monthResume.type2Clothes}}</p>
<p>Ropas externas: {{monthResume.type3Clothes}}</p>
<p>Ropas aliado: {{monthResume.type4Clothes}}</p>
<p>Costos: {{monthCosts}}</p>