<!-- Using bootstrap snippet from https://bootsnipp.com/snippets/dldxB -->
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../M&M.jpg" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" placeholder="Email" formControlName = "email">
      <input type="password" id="password" class="fadeIn third" placeholder="Contraseña" formControlName = "password">
      <button class="btn btn-primary" [disabled]="!loginForm.valid">Acceder</button>
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>