<!-- Using bootstrap snippet from https://bootsnipp.com/snippets/dldxB -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../favicon.ico" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <input [(ngModel)]="email" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
    <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
    <button class="btn btn-primary" (click)="login()">Login</button>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>